In [1]:
import pandas as pd

In [2]:
price = {'price':[110,105,115,120,110,130,150,100,105]}

In [3]:
df = pd.DataFrame(price)
df.to_excel('price.xlsx', index=False)
df= pd.read_excel('price.xlsx')

In [4]:
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [5]:
df1 = df.copy()

# Normalization

In [6]:
from sklearn.preprocessing import MinMaxScaler
nr = MinMaxScaler()

In [7]:
df[['price']] = nr.fit_transform(df[['price']])

In [8]:
df

   price
0    0.2
1    0.1
2    0.3
3    0.4
4    0.2
5    0.6
6    1.0
7    0.0
8    0.1

# Standardization

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [10]:
df[['price']] = scaler.fit_transform(df[['price']])

In [11]:
df

      price
0 -0.416356
1 -0.757011
2 -0.075701
3  0.264954
4 -0.416356
5  0.946264
6  2.308884
7 -1.097666
8 -0.757011

# Log Transfomation

In [12]:
import numpy as np

In [13]:
df1['price'] = np.log(df1[['price']])

In [14]:
df1

      price
0  4.700480
1  4.653960
2  4.744932
3  4.787492
4  4.700480
5  4.867534
6  5.010635
7  4.605170
8  4.653960

# Robust Scaler

In [15]:
from sklearn.preprocessing import RobustScaler
r_scaler = RobustScaler()

In [16]:
df1[['price']] = r_scaler.fit_transform(df1[['price']])

In [17]:
df1

      price
0  0.000000
1 -0.348383
2  0.332894
3  0.651617
4  0.000000
5  1.251047
6  2.322712
7 -0.713766
8 -0.348383

# Max Absolute Scaler

In [18]:
from sklearn.preprocessing import MinMaxScaler
m_scaler = MinMaxScaler()

In [19]:
df1[['price']] = m_scaler.fit_transform(df1[['price']])

In [20]:
df1

      price
0  0.235064
1  0.120331
2  0.344695
3  0.449660
4  0.235064
5  0.647070
6  1.000000
7  0.000000
8  0.120331