# Q1: Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [2]:
def is_square(length, breadth):
    return length == breadth

def main():
    length = float(input("Enter the length of the rectangle: "))
    breadth = float(input("Enter the breadth of the rectangle:"))
    
    if is_square(length, breadth):
        print("It is a Square.")
    else:
        print("It is not a Square")
        
if __name__== '__main__':
    main()

Enter the length of the rectangle: 78
Enter the breadth of the rectangle:78
It is a Square.

Q2: Take three integer values from the user and print the greatest among them.

In [3]:
x = int(input("Enter the first number: "))
y = int(input('Enter the second number: '))
z = int(input('Enter the 3rd number: '))

if x > y and x > z:
    print('The greater number is:', x)
elif y > z and y > x:
    print('The greater number is:', y)
else:
    print('The greater number is:', z)

Enter the first number: 56
Enter the second number: 78
Enter the 3rd number: 32
The greater number is: 78

Q3: A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [4]:
def check_attendance(attendance_percentage):
    if attendance_percentage >= 75:
        return True
    else:
        return False

def main():
    try:
        attendance_percentage = float(input("Enter the Student's attendance percentage:"))
        if attendance_percentage < 0 or attendance_percentage > 100:
            print('Invalid Input. Please enter a valid attendace between 0 to 100')
            return
        if check_attendance(attendance_percentage):
            print("The student is allowed to sit in the examination")
        else:
            print("The student is not allowed to sit int the examination")
    except ValueError:
        print("Invalid Input. Please enter a valid attendance percentage.")

if __name__ == main():
    main()

Enter the Student's attendance percentage:90
The student is allowed to sit in the examination

Q4: A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [5]:
def get_grade(marks):
    if marks < 25:
        return 'F'
    elif marks < 45:
        return 'E'
    elif marks < 50:
        return 'D'
    elif marks < 60:
        return 'C'
    elif marks < 80:
        return 'B'
    elif marks < 90:
        return 'A'
    else:
        return 'A+'

def main():
    try:
        marks = int(input('Enter the marks:'))

        if marks < 0 or marks > 100:
            print('Invalid input. Pleas enter the input between 0 to 100.')
            return
        grade = get_grade(marks)
        print('The grade is:', grade)

    except ValueError:
        print('Invalid Input. Please enter the valid numerical marks')

if __name__ == main():
    main()

Enter the marks:91
The grade is: A+

Q5: Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

for loop:

In [7]:
def print_pattern(n):
    for i in range(n,0,-1):
        for j in range(1,i+1):
            print(j, end=' ')
        print()
        
def main():
    n = 7
    print_pattern(n)

if __name__== main():
    main()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

while loop:

In [10]:
def print_pattern(n):
                  
    i = n
                  
    while i > 0:
        j = 1
        while j <= i:
                  print(j, end=' ')
                  j += 1
        print()
        i -= 1
def main():
    n = 7
    print_pattern(n)

if __name__== main():
    main()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

Q6: Display numbers from -100 to -10 using for loop.

In [11]:
for numbers in range(-100, -9):
    print(numbers, end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

Q7: Write a program to sum all prime numbers within a range of 10 to 1000.

In [12]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

def sum_primes(start, end):
    prime_sum = 0
    for num in range(start, end + 1):
        if is_prime(num):
            prime_sum += num
    return prime_sum

def main():
    start_range = 10
    end_range = 1000

    total_sum = sum_primes(start_range, end_range)
    print("Sum of prime numbers between", start_range, "and", end_range, "is:", total_sum)

if __name__ == "__main__":
    main()

Sum of prime numbers between 10 and 1000 is: 76110

Q8: Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [13]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

n = 7
factorial_of_n = factorial(n)
print(f"The factorial of {n} is: {factorial_of_n}")

The factorial of 7 is: 5040

Q9: Reverse a given integer number 27956240710.

In [14]:
def reverse_integer(number):
    reversed_str = str(number)[::-1]
    return reversed_str

given_number = 27956240710
reversed_number = reverse_integer(given_number)
print("Reversed number:", reversed_number)

Reversed number: 01704265972

Q10: Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #

foo loop:

*
* *
* *
*

while loop:

Q11: Display the Fibonacci series of 15 elements using the for and while loop.

for loop:

In [2]:
fibonacci_series = [0, 1]

for i in range(2, 15):
    next_number = fibonacci_series[-1] + fibonacci_series[-2]
    fibonacci_series.append(next_number)

print(fibonacci_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

while loop:

In [3]:
fibonacci_series = [0, 1]

while len(fibonacci_series) < 15:
    next_number = fibonacci_series[-1] + fibonacci_series[-2]
    fibonacci_series.append(next_number)

print(fibonacci_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

# Python Inbuilt Data Structure

Q12: Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [4]:
Li = [1, 3, 5, [2, 3], True]

Li[3][0] = 3

Li[-1] = False

print(Li)

[1, 3, 5, [3, 3], False]

Q13: Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [5]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection_set = S1.intersection(S2)
print(intersection_set)

{True}

Q14: Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [6]:

user_input_str = input("Enter a list of numbers separated by spaces: ")

# Convert the input string to a list of integers
user_input_list = [int(num) for num in user_input_str.split()]

# Remove duplicates by converting the list to a set
unique_set = set(user_input_list)

max_number = max(unique_set)

print("List with duplicates removed:", unique_set)
print("Maximum number:", max_number)

Enter a list of numbers separated by spaces: 1 2 2 33 44 55 67 67 89 90 10
List with duplicates removed: {1, 2, 33, 67, 10, 44, 55, 89, 90}
Maximum number: 90

Q15: Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [7]:
def rename_key(dictionary, old_key, new_key):
    if old_key in dictionary:
        dictionary[new_key] = dictionary.pop(old_key)

Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}


rename_key(Dict, 'country', 'region')

print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

Q16: Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

num = [10, 100, 300]
df = pd.DataFrame({'number': num})

print(df)

   number
0      10
1     100
2     300

Q17: Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [15]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict['age'] = 28
print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}